# Data Cleaning of 'Mental Health dataset'

## Tasks To Be Completed -
- Data cleaning  in Python/R.
- Summary table in R/Python which shows the important characteristics like count for each categorical variable.
- Data visualization in Tableau.

### 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### 2. Import the dataset

In [2]:
data = pd.read_csv("MENTAL HEALTH DATASET.csv")
# Check the shape of the data
print("Shape of the dataset: ", data.shape)
data.head(5)

Shape of the dataset:  (1259, 27)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

### 3. Exploratory Data Analysis

In [3]:
# Check the column names in the data
print("Columns in the dataset: ", data.columns)

Columns in the dataset:  Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [4]:
# Check the information about the data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB
None

In [5]:
# Check for the Null values in each column
print(data.isnull().sum())

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

### 4. Data Cleaning

#### 4.1 Removing the columns 'Timestamp', 'state', and 'comments' from our dataset

In [6]:
# Variables "Timestamp",“comments”, “state” as noticed contains a lot of Null values. Let's remove this columns.
data = data.drop(['Timestamp'], axis= 1)
data = data.drop(['state'], axis= 1)
data = data.drop(['comments'], axis= 1)
data.head(5)

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,NaN,No,Yes,Often,6-25,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,United States,NaN,No,No,Rarely,More than 1000,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,NaN,No,No,Rarely,6-25,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,NaN,Yes,Yes,Often,26-100,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,NaN,No,No,Never,100-500,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

#### 4.2 Get the numerical and categorical columns into separate lists

In [7]:
# Get lists of numerical and categorical columns separately
num_cols = list(data.select_dtypes(include=["number"]).columns)
cat_cols = list(data.select_dtypes(exclude=["number"]).columns)

print("Numerical Columns: ", num_cols)
print("Categorical Columns: ", cat_cols)

Numerical Columns:  ['Age']
Categorical Columns:  ['Gender', 'Country', 'self_employed', 'family_history', 'treatment', 'work_interfere', 'no_employees', 'remote_work', 'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave', 'mental_health_consequence', 'phys_health_consequence', 'coworkers', 'supervisor', 'mental_health_interview', 'phys_health_interview', 'mental_vs_physical', 'obs_consequence']

#### 4.3 Clean the null values for each numerical and categorical columns

In [8]:
for col in data:
    if col in num_cols:
        data[col] = data[col].fillna(0)
    elif col in cat_cols:
        data[col] = data[col].fillna('NaN')

data.head(5)

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,NaN,No,Yes,Often,6-25,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,United States,NaN,No,No,Rarely,More than 1000,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,NaN,No,No,Rarely,6-25,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,NaN,Yes,Yes,Often,26-100,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,NaN,No,No,Never,100-500,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

#### 4.4 Check for outliers in the 'Age' column and impute with the median value

In [9]:
# Let's check the 'Age' column contains values less than 18 or greater than 100. We can impute these values with median value.
print("Outliers in Age column:- ", end=" ")
for age in data['Age']:
    if(age<18 or age>100):
        print(age, end=", ")

Outliers in Age column:-  -29, 329, 99999999999, -1726, 5, 8, 11, -1,

In [10]:
# Let's impute the above outliers with the median value
age_median = data['Age'].median()
print("Age median: ",age_median)

data['Age'] = data['Age'].apply(lambda x: age_median if (x<18 or x>100) else x)
print(data['Age'].describe())

Age median:  31.0
count    1259.000000
mean       32.069897
std         7.265565
min        18.000000
25%        27.000000
50%        31.000000
75%        36.000000
max        72.000000
Name: Age, dtype: float64

#### 4.5 Check the 'Gender' column for other values than 'Male', 'Female' and 'Transgender' and clean as needed.

In [11]:
# Checking for Gender entries
print(data['Gender'].unique())

['Female' 'M' 'Male' 'male' 'female' 'm' 'Male-ish' 'maile' 'Trans-female'
 'Cis Female' 'F' 'something kinda male?' 'Cis Male' 'Woman' 'f' 'Mal'
 'Male (CIS)' 'queer/she/they' 'non-binary' 'Femake' 'woman' 'Make' 'Nah'
 'All' 'Enby' 'fluid' 'Genderqueer' 'Female ' 'Androgyne' 'Agender'
 'cis-female/femme' 'Guy (-ish) ^_^' 'male leaning androgynous' 'Male '
 'Man' 'Trans woman' 'msle' 'Neuter' 'Female (trans)' 'queer'
 'Female (cis)' 'Mail' 'cis male' 'A little about you' 'Malr' 'p' 'femail'
 'Cis Man' 'ostensibly male, unsure what that really means']

In [12]:
# First let's transform all the gender entries to lowercase
gender = data['Gender'].str.lower()

In [13]:
# Create separate groups for males, females and transgenders and wrong entries
males = ["male", "m", "male-ish", "maile", "mal", "male (cis)", "make", "male ", "man","msle", "mail", "malr","cis man", "Cis Male", "cis male"]
females = ["cis female", "f", "female", "woman",  "femake", "female ","cis-female/femme", "female (cis)", "femail"]
transgenders = ["trans-female", "something kinda male?", "queer/she/they", "non-binary","nah", "all", "enby", "fluid", "genderqueer", "androgyne", "agender", "male leaning androgynous", "guy (-ish) ^_^", "trans woman", "neuter", "female (trans)", "queer", "ostensibly male, unsure what that really means"]
wrong_entries = ['A little about you', 'p']

# Cleaning the gender entries
for (rows, cols) in data.iterrows():
    if(str.lower(cols.Gender) in males):
        data['Gender'].replace(to_replace=cols.Gender, value='Male', inplace=True)
    elif(str.lower(cols.Gender) in females):
        data['Gender'].replace(to_replace=cols.Gender, value='Female', inplace=True)
    elif(str.lower(cols.Gender) in transgenders):
        data['Gender'].replace(to_replace=cols.Gender, value='Transgender', inplace=True)
        
# Let's remove the wrong entries from the dataset
data = data[~data['Gender'].isin(wrong_entries)]

# Now check the Gender column again
print(data['Gender'].value_counts())

Male           991
Female         247
Transgender     19
Name: Gender, dtype: int64

#### 4.6 Check the 'self_employed' column

In [14]:
print(data['self_employed'].value_counts())

No     1095
Yes     144
NaN      18
Name: self_employed, dtype: int64

In [15]:
# As we notice, there are almost 90% entries with 'No's, thus we can replace 'NaN' with 'No'.
data['self_employed'] = data['self_employed'].replace('NaN', 'No')
print(data['self_employed'].value_counts())

No     1113
Yes     144
Name: self_employed, dtype: int64

#### 4.7 Check the 'work_interfere' column

In [16]:
print(data['work_interfere'].value_counts())

Sometimes    465
NaN          264
Never        213
Rarely       173
Often        142
Name: work_interfere, dtype: int64

In [17]:
# As there is significant number of all kinds of entries for 'work_interfere', let's impute 'NaN' values with "Don't Know"
data['work_interfere'] = data['work_interfere'].replace('NaN', 'Don\'t know' )
print(data['work_interfere'].value_counts())

Sometimes     465
Don't know    264
Never         213
Rarely        173
Often         142
Name: work_interfere, dtype: int64

### 5. Encode Categorical Variables to one-hot numeric array using Label Encoder

In [18]:
# We will use scikitlearn's labelEncoder to encode the features
from sklearn.preprocessing import LabelEncoder

labelDict = {}
for feature in data:
    le = LabelEncoder()
    le.fit(data[feature])
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    data[feature] = le.transform(data[feature])
    
    # Get labels
    labelKey = 'label_' + feature
    labelValue = [*le_name_mapping]
    labelDict[labelKey] =labelValue
    
for key, value in labelDict.items():     
    print(key, value)

data.head(5)

label_Age [18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 60.0, 61.0, 62.0, 65.0, 72.0]
label_Gender ['Female', 'Male', 'Transgender']
label_Country ['Australia', 'Austria', 'Belgium', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Canada', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic', 'Denmark', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'India', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Mexico', 'Moldova', 'Netherlands', 'New Zealand', 'Nigeria', 'Norway', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'Singapore', 'Slovenia', 'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Thailand', 'United Kingdom', 'United States', 'Uruguay', 'Zimbabwe']
label_self_employed ['No', 'Yes']
label_family_history ['No', 'Yes']
label_treatment ['No', 'Yes']
label_work_interfere ["Don't know", 'Never', 'Often', 'Rarely', 'Sometimes']
label_no_employees ['1-5', '100-500', '26-100', '500-1000', '6-25', 'More than 1000']
label_remote_work ['No', 'Yes']
label_tech_company ['No', 'Yes']
label_benefits ["Don't know", 'No', 'Yes']
label_care_options ['No', 'Not sure', 'Yes']
label_wellness_program ["Don't know", 'No', 'Yes']
label_seek_help ["Don't know", 'No', 'Yes']
label_anonymity ["Don't know", 'No', 'Yes']
label_leave ["Don't know", 'Somewhat difficult', 'Somewhat easy', 'Very difficult', 'Very easy']
label_mental_health_consequence ['Maybe', 'No', 'Yes']
label_phys_health_consequence ['Maybe', 'No', 'Yes']
label_coworkers ['No', 'Some of them', 'Yes']
label_supervisor ['No', 'Some of them', 'Yes']
label_mental_health_interview ['Maybe', 'No', 'Yes']
label_phys_health_interview ['Maybe', 'No', 'Yes']
label_mental_vs_physical ["Don't know", 'No', 'Yes']
label_obs_consequence ['No', 'Yes']

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,19,0,44,0,0,1,2,4,0,1,...,2,2,1,1,1,2,1,0,2,0
1,26,1,44,0,0,0,3,5,0,0,...,0,0,0,1,0,0,1,1,0,0
2,14,1,6,0,0,0,3,4,0,1,...,0,1,1,1,2,2,2,2,1,0
3,13,1,43,0,1,1,2,2,0,1,...,1,1,2,2,1,0,0,0,1,1
4,13,1,44,0,0,0,1,1,1,1,...,0,0,1,1,1,2,2,2,0,0

### 6. Conclusion

In [19]:
# Check the data again to see if any null values still exist
print(data.isnull().sum())

Age                          0
Gender                       0
Country                      0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [20]:
# New shape of dataset
print(data.shape)

(1257, 24)

In [21]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257 entries, 0 to 1258
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1257 non-null   int64
 1   Gender                     1257 non-null   int32
 2   Country                    1257 non-null   int32
 3   self_employed              1257 non-null   int32
 4   family_history             1257 non-null   int32
 5   treatment                  1257 non-null   int32
 6   work_interfere             1257 non-null   int32
 7   no_employees               1257 non-null   int32
 8   remote_work                1257 non-null   int32
 9   tech_company               1257 non-null   int32
 10  benefits                   1257 non-null   int32
 11  care_options               1257 non-null   int32
 12  wellness_program           1257 non-null   int32
 13  seek_help                  1257 non-null   int32
 14  anonymity                  1257 non-null   int32
 15  leave                      1257 non-null   int32
 16  mental_health_consequence  1257 non-null   int32
 17  phys_health_consequence    1257 non-null   int32
 18  coworkers                  1257 non-null   int32
 19  supervisor                 1257 non-null   int32
 20  mental_health_interview    1257 non-null   int32
 21  phys_health_interview      1257 non-null   int32
 22  mental_vs_physical         1257 non-null   int32
 23  obs_consequence            1257 non-null   int32
dtypes: int32(23), int64(1)
memory usage: 132.6 KB
None

**So, now we have a clean dataset with no Null values. We can now proceed with visualization of important features.**<br>
**Note**: Visualization to be done on tableau.